<html>
<head>
</head>

<body>
 <div class="calculate">
	<h1>Calculate average marks</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('calculate')}}" method="post">
    	<input type="text" name="maths" placeholder="Maths" required="required" />
        <input type="text" name="science" placeholder="Science" required="required" />
		<input type="text" name="history" placeholder="history" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Calculate Button</button>
    </form>

   <br>
   <br>
   <h1>The  marks entered for maths, science and history are {{maths}} {{science}} {{history}}</h1>
   <h1>The average marks is {{results}} {{abc}}</h1>
   <h1>you are {{abc}}</h1>
 </div>


</body>
</html>